main {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

div {

    display: inline-block;

    border: 1px solid black;

    width: 100px;

    height: 100px;

}



.red{
    background-color: red;
}
.blue{
    background-color:  #00b0f0;
}
.green{
    background-color:#00b050;
}
.yellow{
    background-color: #ffff00;
}
#primeiro{
    border-right: 4px solid black;
    border-bottom: 4px solid black; 
    border-left: 2px solid black;
    border-top: 2px solid black;
    
    }
#segundo{
    border-right: 2px solid black;
    border-bottom: 4px solid black; 
    border-left: 4px solid black;
    border-top: 2px solid black;
    }
#terceiro{
    border-right: 4px solid black;
    border-bottom: 2px solid black; 
    border-left: 2px solid black;
    border-top: 4px solid black;
    }
#quarto{
    border-right: 2px solid black;
    border-bottom: 2px solid black; 
    border-left: 4px solid black;
    border-top: 4px solid black;
    }
